<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            color: rgb(77, 1, 52);
        }
        form{
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            padding: 20px;
            border: 1px solid transparent;
            border-radius: 20px;
            background-color: rgba(253, 199, 152, 0.658);
        }
    </style>
</head>
<body>
    <h1>SIGN IN PAGE</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="SUBMIT">
    </form>
    <p>Already i have account.<a href=" {% url 'login' %}">LOGIN</a>
    </p>
</body>
</html>